* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
nav {
    top: 0;
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: burlywood;
}
nav ul{
   text-align: center;
   padding: 15px;
   word-spacing: 20px;
}
nav ul li {
    display: inline;
}

a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 22px;
    letter-spacing: 5px;
    padding: 15px;
}
a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}
h1 {
    display: flexbox;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
    color: black;
    background-color: lemonchiffon; }

    #social {
        display: flex;
        justify-content: space-between;
        background-color: burlywood;
        color: black;
        align-items: center;
        padding: 5px;
      }
      #social div {
        display: flex;
      }
      #social p {
        margin-top: 12px;
        margin-right: 20px;
      }
      
      .social-links {
        justify-content: space-between;
      }
      .social-links i {
        margin: 0 3px;
      }
      footer{
        position: absolute;
        width: 100%;
        bottom: 0;
      }
      body {
        background: url(/IMAGES/background.jpg)no-repeat;
        background-size: 100%;
        opacity: 0.5s;
        max-width: 100%;
      }
      article {
        margin: 150px;
        text-align: center;
        color: white;
        text-transform: uppercase;
        display: block;
        font-size: 20px;
      }
      @media screen and (max-width:700px){
        
          footer {
        position: relative;
        bottom: 0;
        width: 100%;
      }
      }
      @media screen and (max-width:300px) {
        footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          display: flex;
          font-size: 8px;
        }
        h1 {
          font-size: 16px;
          max-width: 784px;
          display: flex;
          justify-content: center;
        }
        h2 {
          font-size: 16px;
        }
        p {
          font-size: 10px;
        }
        body {
          display: inline-flexbox;
        }
        nav a {
          font-size: 10px;
        }
        article h3 {
          font-size: 12px;
          color: #000;
          text-transform: none;
          display: inline;
        }
        article p {
        color: #000;
        text-transform: none;
        text-align: center;      
        }
        nav a:hover {
          padding: 5px;
        }
        nav ul li {
          padding: 3px;
          padding-bottom: 10px;
        }
        #bread p, button{
         text-align: center;
         max-width: 50px;
         justify-content: center;

        }
        #bread button {
          font-size: 8px;
          display: grid;
        }
        #rolls button {
          font-size: 8px;
          display: inline-flex;

        }
        #bread2 button {
          font-size: 8px;
          display: flex;
        }
        #doughnut button {
          font-size: 8px;
          display: flex;
        }
        #bananabread button {
          font-size: 8px;
          display: flex;
        }
        #cinnamon button {
          font-size: 8px;
          display: flex;
        }
        #toastedRoll button {
          font-size: 8px;
          display: flex;
        }
        #cheese button {
          font-size: 8px;
          display: flex;
        }
        #brownie button {
          font-size: 8px;
          display: flex;
        }
        #custardslice button {
          font-size: 8px;
          display: flex;
        }
        #cake button {
          font-size: 8px;
          display: flex;
        }
        #croissant button {
          font-size: 8px;
          display: flex;
        }
      #bread .price {
        font-size: 8px;
      }
      #rolls .price {
        font-size: 8px;
      }
      #cinnamon .price {
        font-size: 8px;
      }
      #cake .price {
        font-size: 8px;
      }
      #brownie .price {
        font-size: 8px;
      }
      #custardslice .price {
        font-size: 8px;
      }
      #toastedRoll .price {
        font-size: 8px;
      }
      #doughnut .price {
        font-size: 8px;
      }
      #cheese .price {
        font-size: 8px;
      }
      #bananabread .price {
        font-size: 8px;
      }
      #bread2 .price {
        font-size: 8px;
      }
      #croissant .price {
        font-size: 8px;
      }
      img {
        max-width: 50px;
        max-height: 50px;
        justify-content: center;
      }
     .imagecontainer {
      display: inline-flexbox;
     }
     .checkout {
      display: flex;
        }
        .backtohome {
          margin-top: 700px;
         }
      }
      
    /* About Page */
    #about {
      background: linear-gradient(white ,burlywood,chocolate);
      background-size: 100%;
     }
     /* Maps Location */
    .location {
      text-align: center;
      margin-top: 255px;
    }
        /* Products Page */
    /* Product Page Animation */
    @keyframes productChanger {
      0% {
          background: linear-gradient(burlywood,blanchedalmond, white);
      }
      100% {
          background: linear-gradient(white, blanchedalmond, burlywood);
      }
  }
    #products {
      animation-name: productChanger;
      animation-duration: 6s;
      animation-iteration-count: infinite;
    }
    .checkout {
      float: right;
      margin: 0 auto;
    }
    /* Products Grid */
    .imagecontainer{
      display: grid;
      box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.2);
      max-width: 300px;
      margin: 2px;
      transition: transform .2s;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 200px;
      margin-top: 125px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      "Data1      Data2       Data3       Data10"
      "Data4      Data5       Data6       Data11"
      "Data7      Data8       Data9       Data12"   
      ;
  }
  .price {
      color: darkgrey;
      font-size: 22px;
  }
  .imagecontainer p {
      padding: 5px;
  }
  .imagecontainer button {
      border: none;
      outline: 0;
      padding: 10px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 16px;
  }
  .imagecontainer ,button:hover {
      opacity: 0.7s;
  }
  /* Images */
  #bread {
      grid-area: Data1;
      margin: 3px;
  }
  #rolls{
      grid-area: Data2;
      margin: 3px;
  }
  #cheese {
      grid-area: Data3;
      margin: 3px;
  }
  #toastedRoll {
      grid-area: Data4;
      margin: 3px;
  }
  #bread2 {
      grid-area: Data5;
      margin: 3px;
  }
  #doughnut {
      grid-area: Data6;
      margin: 3px;
  }
  #cake {
      grid-area: Data8;
      margin: 3px;
  }
  #custardslice {
      grid-area: Data7;
      margin: 3px;
  }
  #croissant {
      grid-area: Data9;
      margin: 3px;
  }
  #brownie {
      grid-area: Data10;
      margin: 3px;
  }
  #bananabread {
      grid-area: Data11;
      margin: 3px;
  }
  /* Contact Page*/
.container {
  display: block;
  text-align: center;
  margin-top: 30px
}
label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}
#Form{
  text-align: center;
  color: white;
  margin-top: 150px;
  font-size: 40px;
}
.container {
  display: flex;
  justify-content:center;
  height: 100%;
  
}
form {
  display: flex;
  flex-direction: column;
}
/* contact page background */
#contact {
background: linear-gradient(to bottom left, sandybrown 50%, burlywood 50%);
background-size: 100%;
}
/* Checkout Page */
#Checkout {
  background: linear-gradient(to bottom left,burlywood 50%, white 50%) no-repeat;
}

/* Table */
table, tr, td{
  border: none;
  background-color: oldlace;
  margin: 0 auto;
  padding: 10px;
  margin-top: 110px;
  width: 80%;
  height: 65%;
  box-shadow: 0 16px 32px rgba(78, 41, 104, 0.4);
}
th{
  background:linear-gradient(burlywood, white);
  margin: 0 auto;
  padding: 10px;
}
td {
  background-color: white;
}
/* heading */
h3 {
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  word-spacing: 20px;
  letter-spacing: 10px;
  margin-top: 50px;
  font-size: 40px;
}
/* No Interactive Anchor Tag */
.payment {
  text-align: center;
  margin: 30px;
  margin-left: 1170px;
}
.payment a {
text-decoration: none;
color: black;
font-family: Montserrat;
letter-spacing: 3px;
background-color: grey;
padding: 15px;
border-radius: 3px;
font-weight: bold;
}
.payment a:hover{
  transition: 0.2s;
  transition: scale (1.5);
}


  