.imagecontainer{
    display: grid;
    box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.2);
    max-width: 300px;
    margin: 2px;
    transition: transform .2s;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
    margin-top: 125px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "Data1      Data2       Data3       Data10"
    "Data4      Data5       Data6       Data11"
    "Data7      Data8       Data9       Data12"   
    ;
}

.price {
    color: darkgrey;
    font-size: 22px;
}
.imagecontainer p {
    padding: 5px;
}
.imagecontainer button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.imagecontainer ,button:hover {
    opacity: 0.7s;
}
#bread {
    grid-area: Data1;
    margin: 3px;
}
#rolls{
    grid-area: Data2;
    margin: 3px;
}
#cheese {
    grid-area: Data3;
    margin: 3px;
}
#toastedRoll {
    grid-area: Data4;
    margin: 3px;
}
#bread2 {
    grid-area: Data5;
    margin: 3px;
}
#doughnut {
    grid-area: Data6;
    margin: 3px;
}
#cake {
    grid-area: Data8;
    margin: 3px;
}
#custardslice {
    grid-area: Data7;
    margin: 3px;
}
#croissant {
    grid-area: Data9;
    margin: 3px;
}
#brownie {
    grid-area: Data10;
    margin: 3px;
}
#bananabread {
    grid-area: Data11;
    margin: 3px;
    
}
/* #applepie {
    grid-area: Data12;
    margin: 3px; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
nav {
    top: 0;
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: radial-gradient(white, burlywood);
}
nav ul{
   text-align: center;
   padding: 15px;
   word-spacing: 20px;
}
nav ul li {
    display: inline;
}
a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 22px;
    letter-spacing: 5px;
    padding: 15px;
}
a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}
h1 {
    display: flexbox;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
    color: black;
    background-color: lemonchiffon;
    margin-right: 160px;
    width: 100%;
}

    #social {
        display: flex;
        justify-content: space-between;
        background-color: burlywood;
        color: black;
        align-items: center;
        padding: 5px;
      }
      #social div {
        display: flex;
      }
      #social p {
        margin-top: 12px;
        margin-right: 20px;
      }
      
      .social-links {
        justify-content: space-between;
      }
      .social-links i {
        margin: 0 3px;
      }
      footer{
        position: relative;
        width: 100%;
        bottom: 0;
      }
    
      @media screen and (max-width:1080px) {
      }
      @media screen and (max-width:720px) {
      }
      @media screen and (max-width:420px){
        
      }
      @keyframes productChanger {
        0% {
            background: linear-gradient(burlywood,blanchedalmond, white);
        }
        100% {
            background: linear-gradient(white, blanchedalmond, burlywood);
        }
    }
      body {
        animation-name: productChanger;
        animation-duration: 6s;
        animation-play-state: running;
        animation-iteration-count: infinite;
      }
      .checkout {
        float: right;
        margin: 0 auto;
      }
      /* .imagecontainer ,img:hover{
        transition: scale(1.5);
      }
      .imagecontainer ,img{
        transition: 0.4s;
      } */
